# ── Neon PostgreSQL ─────────────────────────────────────────────
# URL pooler: untuk runtime Prisma queries
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-pooler.REGION.aws.neon.tech/neondb?sslmode=require"

# URL direct (non-pooler): untuk prisma migrate
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxx.REGION.aws.neon.tech/neondb?sslmode=require"
# ────────────────────────────────────────────────────────────────

PORT=3000
NODE_ENV=development
